<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header') %>
  </head>

  <body>
    <%- include('../partials/canvasnav') %>
    <%- include('../partials/accountnav') %>
    <%- include('../partials/inputboxes') %>
    <%- include('../partials/userforms') %>


<script src="/app.js"></script>
  </body>



</html>